<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wlkata_haro380_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import wlkata_haro380_description urdf file -->
    <xacro:include filename="$(find wlkata_haro380_description)/urdf/wlkata_haro380_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="wlkata_haro380_description.ros2_control.xacro" />


    <xacro:wlkata_haro380_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
